body {
  padding: 0;
  margin: 0;
  background:#00949b;
  font-size:14px; 
  font-family: Helvetica, Arial, 'Open Sans', Helvetica, Arial, sans-serif
}

html, body {
  height: 100%;
}

a {
  color:#036;
}

small {
  font-size:.7em;
}

.ui-page  {
  /* This is a jquery mobile container */
  background:#eee;
  font-family: Helvetica, Arial, 'Open Sans', sans-serif;
}

#home .ui-page {
  padding:20px;
  background:#00949b;
}

.ui-content {
  padding:0;
}

#survey-container {
  display:none;
}

h2,
#startpoint, 
#thanks,
#form fieldset {
  padding:1em;
}

.repeating-button {
  margin-left:1em;
}

#startpoint h2 {
  padding-top:0;
  margin-top:0;
}

#startpoint,
#startpoint h2,
#tools {
  padding-bottom:0;
}

h2 {
  padding-bottom:0;
}

#tools,
#address-search {
  background:#00949b;
  padding:5px;
}


#form {
  background:#fff;
  border-bottom:2px solid #ddd;
  display:none;
}

#thanks {
  display:none;
  background:#ffe;
  border-top:1px solid #fff;
  border-bottom:1px solid #ddd;
}

#address-search {
  display:none;
  border-bottom:2px solid #ddd;
}


#head {
  height:20px;
  padding:.5em 1em;
  border-bottom:2px solid #fff;
  background:#eee;
}

#map {
  border-bottom: 2px solid #eee; 
}

h1 {
  font-size:.9em;
  font-weight: bold;
  font-family: Helvetica, Arial, 'Open Sans', sans-serif;
}

#home h1 {
  font-size:3em;
  color:#fff;
  text-shadow: 0pt 1px 1pt rgba(0,0,0, 0.75);
  margin-bottom:3em;
  line-height:1.3;
}


.container {
}

h2 {
  font-size:1.4em;
  line-height:1.1;
  margin-bottom:10px;
}

.background {
  color:#666;
  font-size:.6em;
  display:block;
  text-transform:uppercase;
}

form input {
  font-size: 18px;
}

input[type="text"] {
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

input[type="submit"] {
  border: 0;        
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  display:block;
  line-height: 1.4em;
  padding: 6px;
  border-radius:6px;
  margin-top:1.5em;
}

.opt-group {
  background:#eee;
  border-top:2px solid #ddd;
  border-bottom:2px solid #ddd;
  margin-bottom:10px;
}

.info {
  color:#fff;
  text-shadow:none;
  background-color:#75b29a;
  z-index:1000;
  padding:25px;
  left:0;
  margin:0;
  border:1px solid #589c81;
  border-top-right-radius:10px;
  border-bottom:5px solid #589c81;
  display:none;
}

.info p {
  margin-bottom:1em;
  font-size:1.3em;
}

.info p strong {
  font-weight:bold;
}
