body {
  padding: 0;
  margin: 0;
  background:#eee url(../img/hexellence.png) repeat left top;
  font-family:Lucida Grande, sans-serif;
  font-size:14px; 
  font-family: 'Crete Round', serif
}

html, body {
  height: 100%;
}

.ui-page  {
  /* This is a jquery mobile container */
  background:#eee url(../img/hexellence.png) repeat left top;
  font-family: 'Crete Round', serif;
}

#home {
  padding:20px;
  background:#360 url(../img/nbhd-blur.jpg) no-repeat center -100px;
}

.ui-content {
  padding:0;
}

#startpoint, #form {
  padding:1em;
}

#form {
  background:#fff;
  border-bottom:2px solid #ddd;
  display:none;
}

#head {
  height:20px;
  padding:.5em 1em;
  border-bottom:2px solid #fff;
  background:#eee;
}

#map {
  border-bottom: 2px solid #eee; 
}

h1 {
  font-size:.9em;
  font-weight:normal;
  font-family: 'Crete Round', serif;
}

#home h1 {
  font-size:3em;
  color:#fff;
  text-shadow: 0pt 1px 1pt rgba(0,0,0, 0.75);
  margin-bottom:3em;
  line-height:1.5;
}


.container {
}

h2 {
  font-size:1.4em;
  line-height:1.1;
  margin-bottom:10px;
}

.background {
  color:#666;
  font-size:.6em;
  display:block;
  text-transform:uppercase;
}

form input {
  font-size: 18px;
}

input[type="text"] {
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

input[type="submit"] {
  border: 0;        
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  display:block;
  line-height: 1.4em;
  padding: 6px;
  border-radius:6px;
  margin-top:1.5em;
}

