body {
  padding: 0;
  margin: 0;
  font-size:14px;
}

html, body {
  height: 100%;
}

a {
  color:#036;
}

small {
  font-size:.7em;
}

.ui-content {
  padding:0;
}

#pointparcelswitch,
#startpoint,
#address-search-status,
#thanks,
#submitting,
#thanks-offline,
#error {
  padding:1em;
}



.repeating-button {
  margin-left:1em;
}

#startpoint h2 {
  padding-top:0;
  margin-top:0;
}

h2 {
  padding-bottom:0;
  font-weight: normal;
  font-size: 2em;
}

#status-bar {
  background:#3f5b88;
  height: 20px;
}

#net-status-offline,
#net-status-back {
  float: right;
  display:none;

}

#form {
  display:none;
  padding: 20px;
}

#parcelform {
  padding: 1em 1em 1.5em 1em;
}

#parcelform fieldset {
  padding-top: 1em;
  padding-bottom: 1em;
}

#submitting,
#address-search-status,
#error,
#thanks,
#thanks-offline {
  display:none;
}

/* Use this grid to center .ui-block-b at larger widths */
.ui-grid-b .ui-block-a {
  width: 12.4875%;
}
.ui-grid-b .ui-block-b {
  width: 74.925%;
}
@media all and (max-width: 560px) {
  .ui-grid-b .ui-block-a,
  .ui-grid-b .ui-block-b {
    width: 100%;
    float: none;
  }
}

#map-div {
  -ms-touch-action: pinch-zoom;
  height: 300px;
}


#map-div {
  height: 58vh;
}

@media all and (min-width: 721px) and (min-aspect-ratio: 13/10) {
  /* two-column */
  #map-div {
    height: 94vh;
  }
  .ui-grid-a .ui-block-b {
    height: 94vh;
    overflow: scroll;
  }
}
@media all and (min-width: 721px) and (min-aspect-ratio: 13/10) and (max-height: 635px) {
  #map-div {
    height: 92vh;
  }
  .ui-grid-a .ui-block-b {
    height: 92vh;
  }
}

@media all and (max-width: 720px), all and (max-aspect-ratio: 13/10) {
  /* single-column */
  .ui-grid-a .ui-block-a,
  .ui-grid-a .ui-block-b {
    width: 100%;
    float: none;
  }

  #map-div {
    height: 58vh;
  }
  .ui-grid-a .ui-block-b {
    height: auto;
    overflow: none;
  }
}

/* Queries specific to iOS device parameters, because some versions of iOS
 * Safari have bugs around vh */

/* iPhone with landscape orientation */
@media screen and (device-width: 320px) and (device-height: 480px) and (orientation: landscape) {
  /* TODO: Should landscape iPhones use the two-column layout? */
  #map-div { height: 165px; }
}

/* iPhone with portrait orientation */
@media screen and (device-width: 320px) and (device-height: 480px) and (orientation: portrait) {
  #map-div { height: 248px; }
}

/* iPad with landscape orientation. */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* This will be 2-column. */
  #map-div { height: 730px; }
}

/* iPad with portrait orientation. */
@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* This will be 1-column. */
  #map-div { height: 686px; }
}

/* iPhone 5 with landscape orientation */
@media screen and (device-width: 560px) and (device-height: 1136px) and (orientation: landscape) {
  #map-div { height: 375px; }
}

/* iPhone 5 with portrait orientation */
@media screen and (device-width: 560px) and (device-height: 1136px) and (orientation: portrait) {
  #map-div { height: 720px; }
}

#form,
#welcome-form,
#loading-msg {
  padding: 0 20px;
}

h1 {
}

#home-container h1,
#loading-container h1 {
  margin-top: 0;
  background: #fff;
  text-align: center;
}

h1 img {
  width: 100%;
  max-width: 300px;
}

#loading-msg {
  font-size:2em;
  margin: 6px;
}

.container {
}

h2 {
  font-size:2em;
  line-height:1.3;
  margin-bottom:10px;
}

.background {
  color:#666;
  font-size:.6em;
  display:block;
  text-transform:uppercase;
}

form input {
  font-size: 18px;
}

input[type="text"] {
  background: #fff;
  font-family: inherit;
  line-height: 1.4em;
  outline: none;
  padding: 6px;
  border: 4px solid #ffad00;
}

.opt-group {
  background:#eee;
  border-top:2px solid #ddd;
  border-bottom:2px solid #ddd;
  margin-bottom:10px;
}

.info {
  color:#fff;
  text-shadow:none;
  background-color:#75b29a;
  z-index:1000;
  padding:25px;
  left:0;
  margin:0;
  border:1px solid #589c81;
  border-top-right-radius:10px;
  border-bottom:5px solid #589c81;
  display:none;
}

.info p {
  margin-bottom:1em;
  font-size:1.3em;
}

.info p strong {
  font-weight:bold;
}

.leaflet-overlay-pane {
  z-index: 7;
}

body {
  -webkit-perspective: none;
  -webkit-transform-style: flat;
}
body > * {
  -webkit-backface-visibility: visible;
  -webkit-transform: none;
}

.required-error {
  display: none;
  margin-bottom: 0.5em;
  color: #ef6d4a;
  font-weight: bold;
}

#popupOffline,
#popupBackOnline {
  display: none;
}

input[type="text"].error {
  border-color: #f15a24;
}
