body {
  padding: 0;
  margin: 0;
  font-size:14px;
}

html, body {
  height: 100%;
}

a {
  color:#036;
}

small {
  font-size:.7em;
}

.ui-content {
  padding:0;
}


h2,
#startpoint,
#address-search-active,
#thanks,
#submitting,
#error {
  padding:1em;
}

.repeating-button {
  margin-left:1em;
}

#startpoint h2 {
  padding-top:0;
  margin-top:0;
}

h2 {
  padding-bottom:0;
}

#status-bar {
  background:#3f5b88;
  height: 20px;
}

#net-status-offline,
#net-status-back {
  float: right;
  display:none;

}

#form {
  display:none;
  padding: 20px;
}

#submitting,
#address-search-active,
#error,
#thanks,
#thanks-offline {
  display:none;
  background:#ffe;
  border-top:1px solid #fff;
  border-bottom:1px solid #ddd;
}

#address-search {
  display:none;
  border-bottom:2px solid #ddd;
}


#head {
  height:20px;
  padding:.5em 1em;
}

#map-div {
  border-bottom: 2px solid #eee;
  -ms-touch-action: pinch-zoom;
}

h1 {
}

#home-container h1,
#loading-container h1 {
  margin-top: 0;
  background: #fff;
  text-align: center;
}

h1 img {
  width: 100%;
  max-width: 300px;
}

#loading-msg {
  font-size:2em;
  color:#fff;
  margin: 6px;
}

.container {
}

h2 {
  font-size:1.4em;
  line-height:1.1;
  margin-bottom:10px;
}

.background {
  color:#666;
  font-size:.6em;
  display:block;
  text-transform:uppercase;
}

form input {
  font-size: 18px;
}

input[type="text"] {
  background: #fff;
  font-family: inherit;
  line-height: 1.4em;
  outline: none;
  padding: 6px;
  border: 4px solid #ffad00;
}

.opt-group {
  background:#eee;
  border-top:2px solid #ddd;
  border-bottom:2px solid #ddd;
  margin-bottom:10px;
}

.info {
  color:#fff;
  text-shadow:none;
  background-color:#75b29a;
  z-index:1000;
  padding:25px;
  left:0;
  margin:0;
  border:1px solid #589c81;
  border-top-right-radius:10px;
  border-bottom:5px solid #589c81;
  display:none;
}

.info p {
  margin-bottom:1em;
  font-size:1.3em;
}

.info p strong {
  font-weight:bold;
}

.leaflet-overlay-pane {
  z-index: 7;
}

body {
  -webkit-perspective: none;
  -webkit-transform-style: flat;
}
body > * {
  -webkit-backface-visibility: visible;
  -webkit-transform: none;
}

.required-error {
  display: none;
  margin-bottom: 0.5em;
  color: #ef6d4a;
  font-weight: bold;
}
