<!doctype html>
<html lang="en" manifest="manifest.appcache">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
      
    <title>LocalData Survey</title>

    <script data-main="js/main" src="js/require.js"></script>
    
    <!-- Styles -->
<!--
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
-->
    <link rel="stylesheet" href="css/jquery.mobile.css">
    <style type="text/css" media="screen">
      @import url(css/reset.css);
      @import url(js/lib/leaflet/leaflet.css);
      @import url(css/mobile.css);      
    </style>
    
    
    <!--
        <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
    -->

</head>

<body id="home">
  <div class="container" id="home-container">
      <h1>
        LocalData<br>
      </h1>
  
      <input type="text" name="name" id="collector_name" style="width:70%" value="" data-mini="true" placeholder="Your name">
      <input id="collector-name-submit" type="submit" data-icon="arrow-r" data-iconpos="right" data-inline="true" data-theme="e" value="Get started">
      
  </div><!-- end home -->
    
  <div class="container" id="survey-container">
    <div id="tools">
      <a href='#' id='address-search-toggle' data-icon="search" data-role="button" data-inline="true" >Address</a>
      <a href='#' id='geolocate' data-icon="star" data-role="button" data-inline="true" >Locate me</a>
      <a href='#' id='point' data-icon="plus" data-role="button" data-inline="true" style="display:none;">Add point</a>
    </div>
    <div id="address-search">
      <input type="text" name="address-input" id="address-input" style="width:70%" value="" data-mini="true" placeholder="Address">
      <input id="address-submit" type="submit" data-icon="arrow-r" data-iconpos="right" data-inline="true" data-theme="e" value="Find address">
    </div>

    <div id='map-div' style="height:250px;"></div>
    <div id="startpoint">
        <h2>Select a location to begin.</h2>
    </div> 
    <div id="thanks">
        <h2>Thank you! Select another location to continue.</h2>
    </div>
    
    <div id="form">
      <h2>
          <span class="parcel_id">&nbsp;</span>
      </h2>

      <div id="results"></div>

      <form action="/responses" method="post" accept-charset="utf-8" id="parcelform" data-enhance="false" data-ajax="false">
        <div id="questions">
        </div>
        <script type="text/template" id="question">
        <fieldset data-role="controlgroup" class="control-group" id="<%= id %>" data-parent="<%= parentID %>" data-trigger="<%= triggerID %>">
          <legend class="control-legend"><%= text %></legend>
          <% if(info !== undefined) { %>
            <a href="" class="show-info" data-role="button" data-inline="true" data-icon="info" data-trigger="info-<%= id %>">More info</a>
            <div id="info-<%= id %>" class="info">
              <%= info %>
              <a href="" data-role="button" data-icon="check" data-inline="true" class="box-close">Got it!</a>
            </div>
          <% }; %>
        </fieldset>
        </script>

        <script type="text/template" id="answer-radio">
          <input type="radio" name="<%= questionName %>" id="<%= id %>" value="<%= value %>">
          <label for="<%= id %>"><%= text %></label>
        </script>

        <script type="text/template" id="answer-checkbox">
          <input type="checkbox" name="<%= questionName %>" id="<%= id %>" value="<%= value %>" data-theme="<%= theme %>">
          <label for="<%= id %>"><%= text %></label>
        </script>

        <script type="text/template" id="answer-text">
          <label for="<%= id %>"><%= text %></label>
          <input type="text" name="<%= questionName %>" id="<%= id %>" value="<%= value %>">
        </script>
        
        <script type="text/template" id="answer-texarea">
          <label for="<%= id %>"><%= text %></label>
          <input type="text" name="<%= questionName %>" id="<%= id %>" value="<%= value %>">
        </script>
        

        <script type="text/template" id="repeat-button">
          <div class="repeating-button" style="display:none" data-parent="<%= parentID %>" data-trigger="<%= triggerID %>">
            <div class="append-to"></div>
            <a class="repeating-button button" href="#" data-icon="plus" data-role="button" data-inline="true">Add another</a>
          </div>
        </script>
        
                
        <input type="submit" data-theme="b" data-icon="check" value="Submit answers">
      </form>
    </div><!-- end form -->
    
    
    
    
    <div id="template-use" style="display:none" count="1">
      
      <div data-role="fieldcontain" class="opt-group template-group">
          <fieldset data-role="controlgroup" id="options-use">
              <legend>Use <span class="use-id"></span></legend>
              <input data-role="none" type="radio" name="use" value="retail" id="retail" class="show-details">
              <label for="retail" data-role="none">Retail</label>
            
              <input data-role="none" type="radio" name="use" value="service" id="service" class="show-details">
              <label for="service">Service</label>
            
              <input data-role="none" type="radio" name="use" value="restaurant-or-bar" id="restaurant-or-bar" class="show-details">
              <label for="restaurant-or-bar">Restaurant or Bar</label>
            
              <input data-role="none" type="radio" name="use" value="office" id="office">
              <label for="office">Office</label>
            
              <input data-role="none" type="radio" name="use" value="industrial" id="industrial">
              <label for="industrial">Industrial</label>
            
              <input data-role="none" type="radio" name="use" value="religious-or-institutional" id="religious-or-institutional">
              <label for="religious-or-institutional">Religious or institutional</label>
            
              <input data-role="none" type="radio" name="use" value="residential" id="residential">
              <label for="residential">Residential</label>
                
              <input data-role="none" type="radio" name="use" value="park" id="park">
              <label for="park">Park</label>
              
              <input data-role="none" type="radio" name="use" value="government" id="government">
              <label for="government">Government</label>
            
              <input data-role="none" type="radio" name="use" value="unknown" id="unknown">
              <label for="unknown">Unknown</label>
          </fieldset>
          
          <fieldset data-role="controlgroup" id="options-retail" class="options" style="display:none;">
            <legend>What retail is on the site?</legend>
            
            <input data-role="none" type="radio" name="retail-use" value="hardware" id="hardware">
            <label for="hardware">Hardware store</label>
            
            <input data-role="none" type="radio" name="retail-use" value="gas-station" id="gas-station">
            <label for="gas-station">Gas station</label>
            
            <input data-role="none" type="radio" name="retail-use" value="grocery" id="grocery">
            <label for="grocery">Grocery store</label>
            
            <input data-role="none" type="radio" name="retail-use" value="health" id="health">
            <label for="health">Health/personal store</label>
                          
            <input data-role="none" type="radio" name="retail-use" value="liquor" id="liquor">
            <label for="liquor">Liquor store</label>
            
            <input data-role="none" type="radio" name="retail-use" value="motor-vehicle" id="motor-vehicle">
            <label for="motor-vehicle">Motor vehicle Sales &amp; Parts</label>
            
            <input data-role="none" type="radio" name="retail-use" value="other" id="other-retail">
            <label for="other-retail">Other retail</label>            
          </fieldset>
          
          <fieldset data-role="controlgroup" id="options-service" class="options" style="display:none;">
            <legend>What service is on the site?</legend>
            
            <input data-role="none" type="radio" name="service-use" value="payday" id="payday">
            <label for="payday">Check cashing or payday loan</label>
            
            <input data-role="none" type="radio" name="service-use" value="bank" id="bank">
            <label for="bank">Bank without drive-through</label>
            
            <input data-role="none" type="radio" name="service-use" value="bank+drivethrough" id="bank+drivethrough">
            <label for="bank+drivethrough">Bank with drive-through</label>
            
            <input data-role="none" type="radio" name="service-use" value="salon" id="salon">
            <label for="salon">Hair, barber, or nail salon</label>
            
            <input data-role="none" type="radio" name="service-use" value="hotel-motel" id="hotel-motel">
            <label for="hotel-motel">Hotel or motel</label>
            
            <input data-role="none" type="radio" name="service-use" value="motor-vehicle-service" id="motor-vehicle-service">
            <label for="motor-vehicle-service">Motor vehicle repair/service</label>        
            
            <input data-role="none" type="radio" name="service-use" value="general-entertainment" id="general-entertainment">
            <label for="general-entertainment">General entertainment</label>        
            
            <input data-role="none" type="radio" name="service-use" value="adult-entertainment" id="adult-entertainment">
            <label for="adult-entertainment">Adult entertainment</label>        
            
            <input data-role="none" type="radio" name="service-use" value="medical" id="medical">
            <label for="medical">Medical services</label>        
            
            <input data-role="none" type="radio" name="service-use" value="drycleaner" id="drycleaner">
            <label for="drycleaner">Dry Cleaner</label>
            
            <input data-role="none" type="radio" name="service-use" value="other" id="general-service">
            <label for="general-service">Other services</label>        
          </fieldset>
          
          <fieldset data-role="controlgroup" id="options-restaurant-or-bar" class="options" style="display:none;">
            <legend>What restaurant or bar is on the site?</legend>
            <input data-role="none" type="radio" name="restaurant-use" value="restaurant+drivethrough" id="restaurant+drivethrough">
            <label for="restaurant+drivethrough">Restaurant with Drive-Through</label>
            
            <input data-role="none" type="radio" name="restaurant-use" value="restaurant" id="restaurant">
            <label for="restaurant">Restaurant (no Drive-Through)</label>
            
            <input data-role="none" type="radio" name="restaurant-use" value="bar-pub-brewery" id="bar-pub-brewery">
            <label for="bar-pub-brewery">Bar, Pub, or Brewery</label>
          </fieldset>
          
          <fieldset id="misc" class="misc">
            <a class="remove" href="#" data-role="button" data-icon="delete" data-inline="true" data-theme="c">Remove use</a>
          </fieldset>
          
      </div><!-- end use container (repeating element) -->
      
    </div>


  </div><!-- end survey -->
  
  </body>
</html>
